/*****************
 * ESTILOS BASE  *
 *****************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #ccc;
  --gray2: #919191;
  --gray3: #898989;
  --scrollbar-thumb: #e0e0e0;
  --scrollbar-thumb-hover: #bfbfbf;
  --red: #c00;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  color: var(--black);
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 30vh;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: transparent;
}

/**********
 * HEADER *
 **********/

.header {
  background: var(--white);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

/* Contenedor de logo y menú */
.navbar__left {
  display: flex;
  align-items: center;
}

.navbar__logo,
.navbar__link {
  text-transform: uppercase;
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 2rem;
  letter-spacing: 1px;
}

/* Enlaces del navbar */
.navbar__link {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  margin-right: 1rem;
}

/* Estilos para el menú que aparece en dispositivos móviles */
.menu-mobile-container {
  display: flex;
  justify-content: center;
  background: var(--white);
  padding: 0 4rem;
  position: absolute;
  top: 67px; /* Altura del header */
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.menu-mobile {
  width: 100%;
}

.menu-mobile-link {
  border-bottom: 1px solid var(--gray);
  padding: 1rem 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1.4rem;
}

/* Hamburger menu y close icon, solo aparece en dispositivos móviles */
.navbar__hamburger-icon,
.navbar__close-icon {
  position: relative;
  width: 24px;
  margin-right: 1rem;
  top: 2px;
  cursor: pointer;
  stroke-width: 1.4;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar-icon {
  cursor: pointer;
  margin-left: 1.5rem;
  width: 24px;
  stroke-width: 1.4;
}

/* Cart Widget */
.cart-widget {
  position: relative;
}

.cart-widget__notification {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background: var(--black);
  color: var(--white);
  border-radius: 50%;
  top: -4px;
  right: -6px;
  font-weight: 700;
  cursor: pointer;
}

.navbar__menu--desktop {
  display: none;
}

/* Estilos para el search bar */
.search-bar {
  position: absolute;
  left: 0;
  right: 0;
}

.search-bar__input {
  width: 100%;
  outline: none;
  padding: 1rem 4rem;
  border: 1px solid var(--gray);
  font-family: 'DM Sans', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

/*********
 * HERO  *
 *********/

.hero {
  background-image: url('./assets/background-2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}

/*******************
 * LIST CONTAINER  *
 *******************/

.list-container {
  padding: 0 4rem;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

/* Slider */
.slider-list {
  margin: 1rem 0;
}

.swiper-pagination-progressbar-fill {
  background: var(--black) !important; /* Cambiar esto */
}

.slider-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.slider-list__category,
.slider-list__link {
  text-transform: uppercase;
}

.slider-list__category {
  font-size: 1.2rem;
  letter-spacing: 0.2px;
}

.slider-list__link {
  font-size: 1rem;
  position: relative;
  letter-spacing: 0.5px;
}

.slider-list__link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--black);
}

/* Item */
.item__image {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.item__title,
.item__price {
  font-size: 1.1rem;
}

.item__title {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/*************************
 * ITEM DETAIL CONTAINER *
 *************************/
.item-detail-container {
  padding: 0 4rem;
}

.item-detail {
  display: flex;
  flex-direction: column;
}

.item-detail__image-container {
  flex: 1;
}

.item-detail__info {
  flex: 1;
}

.item-detail__title {
  margin-bottom: 2.5px;
}

.item-detail__price {
  margin-bottom: 10px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.item-detail__description {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  text-align: justify;
  color: var(--gray2);
  line-height: 2.05rem;
}

.item-detail__sku {
  color: var(--gray2);
  font-size: 1.1rem;
  margin: 1rem 0;
}

.item-detail__image {
  width: 100%;
}

/* Contador */
.contador {
}

.contador__controls {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--black);
}

.contador__add-button,
.contador__subtract-button {
  cursor: pointer;
}

.contador__add-button,
.contador__subtract-button,
.contador__quantity {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.contador__add-button {
  border-left: 1px solid var(--black);
}

.contador__subtract-button {
  border-right: 1px solid var(--black);
  width: 19.77px;
}

.contador__quantity {
  width: 3rem;
  text-align: center;
}

/* Botón agregar al carrito */
.contador__add-to-cart {
  background: var(--black);
  color: var(--white);
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  cursor: pointer;
  display: block;
  padding: 1.2rem 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 2rem 0;
}

/* Accordion */
.accordion {
  border-bottom: 1px solid var(--black);
}

.accordion__item {
  /* cursor: pointer; */
}

.accordion__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;
  border-top: 1px solid var(--black);
  font-weight: 700;
  font-size: 1.4rem;
}

.accordion__symbol {
  font-size: 1.7rem;
}

.accordion__content {
  padding-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--gray2);
  line-height: 2.2rem;
}

/**********
 * FOOTER *
 **********/

.footer {
  margin-top: 2rem;
}

/* Footer top */
.footer__top {
  padding: 4rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer-top__logo {
  margin-right: 0;
  padding-bottom: 4rem;
}

/* Selecciona todos los menus, excepto el último */
.footer-top__menu:not(:last-child) {
  margin-bottom: 2rem;
}

.footer-top__menu-title,
.footer-top__menu-link {
  margin-bottom: 1.5rem;
}

.footer-top__menu-title {
  font-size: 1.4rem;
}

.footer-top__menu-link {
  font-size: 1.2rem;
}

/* Footer bottom */
.footer__bottom {
  padding: 2rem 4rem;
}

.footer-bottom__left,
.footer-bottom__right {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  color: var(--gray2);
}

.footer-bottom__left {
  margin-bottom: 1rem;
}

.footer-bottom-right__tarjetas {
  align-self: center;
}

/*************
 * SKELETON  *
 *************/

/* Item skeleton */
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background: #f2f2f2;
  }

  100% {
    background: #d0d0d0;
  }
}

.item-skeleton__image {
  margin-bottom: 1rem;
}

.item-skeleton__title,
.item-skeleton__price {
  height: 1.2rem;
  border-radius: 0.05rem;
}

.item-skeleton__title {
  height: 1.2rem;
  width: 60%;
  margin-bottom: 1rem;
}

.item-skeleton__price {
  height: 1.2rem;
  width: 20%;
}

/* ItemDetail skeleton */
.item-detail-skeleton__image-container,
.item-detail-skeleton__title,
.item-detail-skeleton__price,
.item-detail-skeleton__description {
  margin-bottom: 1rem;
}

.item-detail-skeleton__image {
  visibility: hidden;
}

.item-detail-skeleton__title {
  height: 2rem;
  width: 60%;
}

.item-detail-skeleton__price {
  height: 2rem;
  width: 30%;
}

.item-detail-skeleton__description {
  height: 1rem;
}

.item-detail-skeleton__description:last-child {
  width: 80%;
}

/******************
 * SEARCH RESULTS *
 ******************/

.search-result {
  padding: 0 4rem;
}

.search-result-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result__image {
  width: 30rem;
}

/********
 * CART *
 ********/

.cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0;
  background: var(--white);
  z-index: 999;
}

.cart--open {
  width: 100%;
  max-width: 50rem;
}

.cart__empty-text {
  padding: 2rem;
  font-size: 1.5rem;
}

/* Cart header */
.cart__header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid var(--gray);
}

.cart-header__close-icon {
  width: 2.4rem;
  cursor: pointer;
}

/* Cart body */
.cart__body {
  padding: 0 2rem;
  overflow-y: scroll;
  flex: 1;
}

.cart__item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--gray);
  padding: 2rem 0;
}

.cart__item:last-child {
  border-bottom: none;
}

/* Contenedor para la información del item */
.cart-item__info-container {
  flex: 1;
}

.cart-item__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item__title {
  font-size: 1.25rem;
}

.cart-item__delete-item {
  font-size: 1.15rem;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.5px;
  color: var(--gray3);
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease;
}

.cart-item__delete-item::after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  background: var(--gray3);
  width: 100%;
  transition: background-color 0.2s ease;
}

.cart-item__delete-item:hover {
  color: var(--red);
}

.cart-item__delete-item:hover::after {
  background: var(--red);
}

.cart-item__image-container {
  margin-right: 2rem;
}

.cart-item__image {
  height: 15rem;
}

.cart-item__item-total {
  font-size: 1.2rem;
}

/* Cart footer */
.cart__footer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-top: 1px solid var(--gray);
}

.cart-footer__total-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.cart-footer__total-title,
.cart-footer__total {
  font-size: 1.4rem;
  font-weight: 600;
}

.cart-footer__btn {
  width: 100%;
  background: var(--black);
  color: var(--white);
  height: 4.5rem;
  font-weight: 500;
  font-family: 'DM Sans';
  font-size: 1.35rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/************
 * CHECKOUT *
 ************/

.checkout-form {
  padding: 0 4rem;
  width: 100%;
  margin: 0 auto;
}

.checkout-form__title {
  margin-bottom: 2rem;
}

.checkout-form__billing-container {
  display: grid;
  grid-gap: 2rem;
}

.input-container__label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.input-container__input,
.input-container__select {
  width: 100%;
  height: 4rem;
  font-family: 'DM sans', sans-serif;
  border: 1px solid var(--gray);
  padding-left: 1rem;
}

.input-container__input--error {
  border: 1px solid var(--red);
}

.input-container__input::placeholder {
  color: var(--gray2);
}

.input-container__input:focus,
.input-container__select:focus {
  outline: none;
}

.checkout-form__btn {
  background: var(--black);
  color: var(--white);
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 0.1px;
  cursor: pointer;
}

/******************
 * MEDIA-QUERIES  *
 ******************/

/* Estos estilos se van a aplicar en dispositivos con un ancho mínimo de 400px */
@media screen and (min-width: 400px) {
  .item__image {
    height: 30rem;
  }
}

/* Estos estilos se van a aplicar en dispositivos con un ancho mínimo de 500px */
@media screen and (min-width: 500px) {
  .navbar__logo {
    font-size: 2rem;
  }

  .navbar__hamburger-icon,
  .navbar__close-icon {
    font-size: 2.5rem;
    top: 1.5px;
  }

  .menu-mobile-link {
    font-size: 1.5rem;
  }

  .navbar-icons {
    font-size: 2.5rem;
    margin-left: 1.5rem;
  }

  .wrapper {
    height: 45vh;
  }

  .item__image {
    height: 40rem;
  }

  .slider-list__category {
    font-size: 1.6rem;
  }

  .slider-list__link {
    font-size: 1.2rem;
  }

  .item__title,
  .item__price {
    font-size: 1.2rem;
  }

  /* Cart */
  .cart-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--black);
    z-index: 999;
    opacity: 0.15;
  }

  .cart-item__image {
    height: 20rem;
  }
}

/* Estos estilos se van a aplicar en dispositivos con un ancho mínimo de 600px */
@media screen and (min-width: 600px) {
  .wrapper {
    height: 50vh;
  }

  .item__image {
    height: 50rem;
  }
}

/* Estos estilos se van a aplicar en dispositivos con un ancho mínimo de 768px */
@media screen and (min-width: 768px) {
  .navbar__menu--desktop {
    display: flex;
  }

  .navbar__hamburger-icon,
  .navbar__close-icon {
    display: none;
  }

  .menu-mobile-container {
    display: none;
  }

  .wrapper {
    height: 55vh;
  }

  .item__image {
    height: 55rem;
  }

  .slider-list__category {
    font-size: 1.8rem;
  }

  .slider-list__link {
    font-size: 1.4rem;
  }

  .item-detail {
    flex-direction: row;
  }

  .item-detail__info {
    padding: 0 2rem;
  }

  .detail-info__wrapper {
    max-width: 42rem;
  }

  /* Footer */
  .footer__top,
  .footer__bottom {
    display: flex;
  }

  .footer-top__menu,
  .footer-top__logo {
    flex: 1;
  }

  .footer-top__menu:not(:last-child) {
    margin-bottom: 0;
  }

  .footer-top__menu-title {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .footer-top__menu-link {
    font-size: 1.3rem;
  }

  .footer-top__logo {
    padding-bottom: 0;
  }

  .footer__bottom {
    justify-content: space-between;
    align-items: center;
  }

  .footer-bottom__left,
  .footer-bottom__right {
    align-items: center;
  }

  .footer-bottom__left {
    margin-bottom: 0;
  }

  .footer-bottom-left__link {
    margin-right: 1rem;
  }

  /* Skeleton */
  .item__title-skeleton,
  .item__price-skeleton {
    height: 1.6rem;
  }

  /* Search result */
  .search-result__image {
    width: 40rem;
  }

  /* Checkout */
  .checkout-form__billing-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .checkout-form__btn {
    width: calc(50% - 1rem);
  }
}

/* Estos estilos se van a aplicar en dispositivos con un ancho mínimo de 850px */
@media screen and (min-width: 850px) {
  .item__image {
    height: 60rem;
  }
}

/* Estos estilos se van a aplicar en dispositivos con un ancho mínimo de 924px */
@media screen and (min-width: 924px) {
  .item__image {
    height: 70rem;
  }
}

/* Estos estilos se van a aplicar en dispositivos con un ancho mínimo de 1024px */
@media screen and (min-width: 1024px) {
  .wrapper {
    height: 70vh;
  }

  .item-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .item__title,
  .item__price {
    font-size: 1.4rem;
  }

  .item__image {
    height: 55rem;
  }

  /* Search result */
  .search-result__image {
    width: 60rem;
  }
}

/* Estos estilos se van a aplicar en dispositivos con un ancho mínimo de 1280px */
@media screen and (min-width: 1280px) {
  .wrapper {
    height: 85vh;
  }

  /* Fijar el header en Desktop */
  .header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .item-list,
  .item-detail-container {
    padding-top: 68.8px;
  }

  /* Estilos para el scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white);
  }

  /* Thumb */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
  }

  /* Thumb cuando se hace hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
  }

  /* Footer */
  .footer-top__menu-link,
  .footer-bottom-left__link {
    transition: color 0.2s ease;
  }

  .footer-top__menu-link a:hover {
    color: var(--gray2);
  }

  .footer-bottom-left__link a:hover {
    color: var(--black);
  }

  /* Checkout */
  .checkout-form {
    padding-top: 6.88rem;
  }
}

/* Estos estilos se van a aplicar en dispositivos con un ancho mínimo de 1460px */
@media screen and (min-width: 1460px) {
  .wrapper {
    height: 100vh;
  }
}
